body {
     background-image: url("img/win.jpg");
    background-size: cover;      
    background-position: center;   
    background-repeat: no-repeat;  

    /* CENTRADO DEL MENÚ */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;}

/* CONTENEDOR GENERAL */
.start-menu {
    width: 400px;
    border: 2px solid #ffffff;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 4px 4px 15px rgba(0,0,0,0.7);

    /* pequeño efecto flotante */
    transform: translateY(-10px);
}

/* CABECERA VERDE */
.xp-header {
    background: linear-gradient(to bottom, #3cb043, #1e7f2e);
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.xp-header img {
    width: 32px;
    margin-right: 10px;
    border-radius: 4px;
}

/* CUERPO */
.xp-body {
    display: flex;
}

/* LADO IZQUIERDO (AZUL) */
.xp-left {
    width: 60%;
    background: linear-gradient(to bottom, #dee8ff, #cbddfd);
    padding: 5px;
}

/* LADO DERECHO (CLARO) */
.xp-right {
    width: 40%;
    background: #abcdf7;
    padding: 5px;
}

/* LINKS */
a {
    display: block;
    padding: 6px;
    text-decoration: none;
    color: black;
    border-radius: 3px;
    font-family: Tahoma, Geneva, sans-serif;
}

/* LINKS IZQUIERDA */
.xp-left a {
    color: rgb(0, 0, 0);
}

/* HOVER */
a:hover {
    background: linear-gradient(to bottom, #3d8bfd, #1c5ed6);
    color: white;
}

/* FOOTER */
.xp-footer {
    background: linear-gradient(to bottom, #245edb, #0c3c8c);
    padding: 8px;
    text-align: right;
}

.xp-footer button {
    background: linear-gradient(to bottom, #ff4b4b, #a30000);
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

.xp-footer button:hover {
    opacity: 0.9;
}