*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: ;
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif
    

}


   




}

header{
    background-color: rgba(0, 0, 0, 0.781);
    color:white;
    padding: 3rem 2rem;
   
}

header h1{
    font-size: 4rem;
    text-align: center;
}


nav{ background: rgba(136, 10, 10, 0.562);
                height: 60px;
                border-bottom: px solid rgba(0, 0, 0, 0.164);
            
            }


nav ul li {
    float: left;
    list-style: none;
    margin: 3px;
    line-height: 40px;

}
.clearfix{
    clear: both;
}

.contenido{ 
    float:left;
    width: 400px; 
    margin: 0% auto;

}

aside{
    float: left;
    width: 20%;
}

section article{ background-color: rgba(0, 0, 0, 0.082);
    width: 1rem;
    margin: 0;
    border-radius: 0.5rem;
    padding:0.25rem 0;
}