body{
    background: #eee;
    font-family: Arial, sans-serif;
}

main{  

}
.tarjeta{ padding: 10px; 
    
}

#caja-azul, #caja-amarilla, #caja-roja{
    border: none;
    padding:10px 10px;
    border-radius: 8px;
    margin-right: 5%;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    width: 6rem;
     display:inline-block;
}

#caja-azul{
    background-color: #2ecc71;
}
#caja-amarilla{
    background-color: #f1c40f;
}
#caja-roja{
    background-color: #e74c3c;
}

.tarjeta:hover{
    transform: scale(1.1);
    opacity: 0.8;
}